<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product &#8211; BookShop</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='wp-block-library-css' href='/includes/css/dist/block-library/style.min.css?ver=5.2.1'
        type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-style-css'
        href='/content/plugins/woocommerce/assets/css/blocks/style.css?ver=3.6.4' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-css'
        href='/content/plugins/woocommerce/assets/css/photoswipe/photoswipe.css?ver=3.6.4' type='text/css'
        media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css'
        href='/content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.css?ver=3.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'
        href='/content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.6.4' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'
        href='/content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.6.4' type='text/css'
        media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'
        href='/content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.6.4' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='bootstrap-css'
        href='/content/themes/bookie/vendor/bootstrap/css/bootstrap.min.css?ver=3.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='smartmenu-css'
        href='/content/themes/bookie/vendor/smartmenu/jquery.smartmenus.bootstrap.css?ver=1.0.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='fontawesome-css'
        href='/content/themes/bookie/vendor/fontawesome/css/font-awesome.min.css?ver=4.7.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='googlefonts-css'
        href='https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700%7CPT+Serif%3A400%2C700&#038;ver=5.2.1'
        type='text/css' media='all' />
    <link rel='stylesheet' id='toko-style-theme-css' href='/content/themes/bookie/style-theme.css?ver=1.4.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='toko-style-woocommerce-css' href='/content/themes/bookie/style-woocommerce.css?ver=1.4.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='toko-style-shortcodes-css' href='/content/themes/bookie/style-shortcodes.css?ver=1.4.5'
        type='text/css' media='all' />
    <link rel='stylesheet' id='toko-style-css' href='/content/themes/bookie-child/style.css?ver=1.4.5' type='text/css'
        media='all' />
    <script type='text/javascript' src='/includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='/includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.6.4'></script>
    <script type='text/javascript'
        src='/content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=5.7'></script>
    <link rel="canonical" href="https://tokopress.club/bookie2/standard/book/lyrics-of-the-lalala-musical/" />
    <link rel='shortlink' href='https://tokopress.club/bookie2/standard/?p=99' />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <link rel="icon" href="/content/uploads/2017/10/thumb.png" sizes="32x32" />
    <link rel="icon" href="/content/uploads/2017/10/thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/content/uploads/2017/10/thumb.png" />
    <meta name="msapplication-TileImage" content="/content/uploads/2017/10/thumb.png" />
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript><!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('set', 'autoConfig', false, '516405008522686');
        fbq('init', '516405008522686');
        fbq('track', "PageView");
    </script>
    <!-- <noscript><img height="1" width="1" style="display:none"  -->
    <!-- src="https://www.facebook.com/tr?id=516405008522686&ev=PageView&noscript=1"  -->
    <!-- /></noscript> -->
    <!-- End Facebook Pixel Code -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78978222-2"></script>
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/vue/vue.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());
        gtag('config', 'UA-78978222-2');
    </script>
</head>

<body
    class="product-template-default single single-product postid-99 woocommerce woocommerce-page woocommerce-no-js header-large ltr wpb-js-composer js-comp-ver-5.7 vc_responsive columns-4">
    <div class="site-wrap">
            <header class="section-site-header">
                    <div class="site-header" id='head'>
                        <div class="container">
                            <h1 class="site-brand pull-left">
                                <a class="navbar-brand" href="/">
                                    <div class="site-logo-text"> BookShop </div>
                                    <p class="site-description">Welcome</p>
                                </a>
                            </h1>
                            <div class="site-quicknav pull-right">
                                <ul class="nav navbar-right">
                                    <li class="dropdown visible-xs visible-sm">
                                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
                                            <i class="fa fa-navicon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="site-menu navbar-inverse navbar-collapse collapse navbar-collapse-top ">
                                <ul id="menu-header-menu" class="site-menu nav navbar-nav"  style="float: right">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
                                        <a title="Home" href="/">Home </a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a title="Bookstore" href="/book/list">Bookstore</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdowne">
                                        <a title="管理员" href="/admin/login">管理员<span class="caret"></span></a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903"><a title="管理员登录" href="/admin/login">管理员登录</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903"><a title="用户管理" href="/user/list">用户管理</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2908"><a title="书籍管理" href="/book/booklist">书籍管理</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2908"><a title="退出" @click="adminlogout()">退出</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdowne">
                                        <a title="我的账户" href="/user/login">我的账户<span class="caret"></span></a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2908"><a title="登录" href="/user/login">登录</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903"><a title="查看购物车" href="/user/cart">查看购物车</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2906"><a title="修改个人信息" href="/user/edit">修改个人信息</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2906"><a title="退出" @click="userlogout()">退出</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a title="Contact" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
        <section id="page-title" class="page-title">
            <div class="container">
                <h2>Product</h2>
                <nav class="woocommerce-breadcrumb"><a href="/">Home</a>&nbsp;&#47;&nbsp;Product
                </nav>
            </div>
        </section>

        <div class="books-search">
            <div class="container">
                <form class="" method="get" action="/BookInfo/SelectByTitle/">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <input name="title" value="" type="text" class="form-control" id="keyword"
                                    placeholder="Book Title">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select name='product_cat' id='product_cat' class='form-control'>
                                    <option value='0'>Book Category</option>
                                </select>
                                <i class='select-arrow fa fa-angle-down'></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select name='book_author' id='book_author' class='form-control'>
                                    <option value='0'>Book Author</option>
                                </select>
                                <i class='select-arrow fa fa-angle-down'></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <input type="hidden" name="post_type" value="product" />
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fa fa-search"></i> &nbsp;Find Book
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id='app'>
            <div class="main-content-container container">
                <div id="content" class="main-content-inner" role="main">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div v-for="m in book">
                        <div
                            class="product type-product post-99 status-publish first instock product_cat-culture product_cat-life-style product_tag-dream product_tag-music product_tag-sound has-post-thumbnail sale featured shipping-taxable purchasable product-type-simple">
                            <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
                                data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                                <figure class="woocommerce-product-gallery__wrapper">
                                    <div :data-thumb="'/content/uploads/2016/06/'+m.picname" data-thumb-alt=""
                                        class="woocommerce-product-gallery__image"><a
                                            :href="'/content/uploads/2016/06/'+m.picname">
                                            <img width="416" height="555" :src="'/content/uploads/2016/06/'+m.picname"
                                                class="wp-post-image" alt="" title="book-23" data-caption=""
                                                :data-src="'/content/uploads/2016/06/'+m.picname"
                                                :data-large_image="'/content/uploads/2016/06/'+m.picname"
                                                data-large_image_width="750" data-large_image_height="1000" /></a></div>
                                    <div data-thumb="/content/uploads/2016/06/book-22.jpg" data-thumb-alt=""
                                        class="woocommerce-product-gallery__image"><a
                                            href="/content/uploads/2016/06/book-22.jpg">
                                            <img width="416" height="555" src="/content/uploads/2016/06/book-22.jpg"
                                                class="" alt="" title="book-22" data-caption=""
                                                data-src="/content/uploads/2016/06/book-22.jpg"
                                                data-large_image="/content/uploads/2016/06/book-22.jpg"
                                                data-large_image_width="750" data-large_image_height="1000" /></a></div>
                                    <div data-thumb="/content/uploads/2016/06/book-21.jpg" data-thumb-alt=""
                                        class="woocommerce-product-gallery__image"><a
                                            href="/content/uploads/2016/06/book-21.jpg">
                                            <img width="416" height="555" src="/content/uploads/2016/06/book-21.jpg"
                                                class="" alt="" title="book-21" data-caption=""
                                                data-src="/content/uploads/2016/06/book-21.jpg"
                                                data-large_image="/content/uploads/2016/06/book-21.jpg"
                                                data-large_image_width="750" data-large_image_height="1000" /></a></div>
                                    <div data-thumb="/content/uploads/2016/06/book-20.jpg" data-thumb-alt=""
                                        class="woocommerce-product-gallery__image"><a
                                            href="/content/uploads/2016/06/book-20.jpg">
                                            <img width="416" height="555" src="/content/uploads/2016/06/book-20.jpg"
                                                class="" alt="" title="book-20" data-caption=""
                                                data-src="/content/uploads/2016/06/book-20.jpg"
                                                data-large_image="/content/uploads/2016/06/book-20.jpg"
                                                data-large_image_width="750" data-large_image_height="1000" /></a></div>
                                    <div data-thumb="/content/uploads/2016/06/book-19.jpg" data-thumb-alt=""
                                        class="woocommerce-product-gallery__image"><a
                                            href="/content/uploads/2016/06/book-19.jpg">
                                            <img width="416" height="555" src="/content/uploads/2016/06/book-19.jpg"
                                                class="" alt="" title="book-19" data-caption=""
                                                data-src="/content/uploads/2016/06/book-19.jpg"
                                                data-large_image="/content/uploads/2016/06/book-19.jpg"
                                                data-large_image_width="750" data-large_image_height="1000" /></a></div>
                                </figure>
                            </div>
                            <div class="summary entry-summary">
                                <h1 class="product_title entry-title" >{{m.title}}</h1>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 4.50 out of 5"><span
                                            style="width:90%">Rated <strong class="rating">4.50</strong> out of 5 based
                                            on </span></div>
                                </div>
                                <div class="product-offer-box">
                                    <p class="price"><ins><span class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">&#36;</span>{{m.price}}</span></ins>
                                    </p>
                                    <form id='cartform' class="cart"  onsubmit="return false" action="##"  enctype='multipart/form-data'>
                                        <div class="quantity">
                                            <input name="bookid" v-model="m.bookId" type="hidden" />
                                            <input type="number" class="input-text qty text" step="1"
                                                min="1" name="num" value="1" title="Qty" size="4"
                                               />
                                        </div>
                                        <button type="button"  class="single_add_to_cart_button button alt" @click="addbookstocart()">Add to cart</button>
                                    </form>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in">分类:{{m.type}}</span>
                                </div>
                            </div>
                            <div class="section-book-details clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="book-details">
                                            <h3>Book Details</h3>
                                            <table class="woocommerce-product-attributes shop_attributes">
                                                <tr
                                                    class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_publisher">
                                                    <th class="woocommerce-product-attributes-item__label">出版社</th>
                                                    <td class="woocommerce-product-attributes-item__value">
                                                        <p>{{m.version}}</p>
                                                    </td>
                                                </tr>
                                                <tr
                                                    class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_language">
                                                    <th class="woocommerce-product-attributes-item__label">语言</th>
                                                    <td class="woocommerce-product-attributes-item__value">
                                                        <p>中文</p>
                                                    </td>
                                                </tr>
                                                <tr
                                                    class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_isbn">
                                                    <th class="woocommerce-product-attributes-item__label">ISBN</th>
                                                    <td class="woocommerce-product-attributes-item__value">
                                                        <p>{{m.isbn}}</p>
                                                    </td>
                                                </tr>
                                                <tr
                                                    class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_released">
                                                    <th class="woocommerce-product-attributes-item__label">出版日期</th>
                                                    <td class="woocommerce-product-attributes-item__value">
                                                        <p>{{m.pubdate}}</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="book-authors">
                                            <h3>简介</h3>
                                            <p>{{m.introdu}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-products-list section-products-list-related">
                <div class="container">
                    <section class="related products">
                        <h2> Related products</h2>
                        <ul class="products columns-4">
                            <div v-for="m in popularbooks">
                                <li
                                    class="product type-product post-90 status-publish instock product_cat-business product_cat-life-style product_tag-dream product_tag-money has-post-thumbnail sale downloadable shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner">
                                        <a :href="'/book/product?bookid='+ m.bookId">
                                            <figure class="product-image-box">
                                                <img width="250" height="333"
                                                    :src="'/content/uploads/2016/06/'+m.picname"
                                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                    alt="" />
                                            </figure>
                                            <div class="product-price-box clearfix">
                                                <h2 class="woocommerce-loop-product__title" >{{m.title}}</h2>
                                                <span class="person-name vcard">{{m.author}}</span>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">&#36;</span>{{m.price}}</span></ins></span>
                                            </div>
                                        </a>
                                        <div class="woo-button-wrapper">
                                            <div class="woo-button-border">
                                                <a :href="'/book/product?bookid='+ m.bookId"
                                                    class="button product-button">Detail</a>
                                                <a  @click="addbooktocart(m.bookId)"
                                                    class="button product_type_simple add_to_cart_button"
                                                    data-product_id="90" data-product_sku=""
                                                    aria-label="Add &ldquo;Big Magic Beyond Fear&rdquo; to your cart"
                                                    rel="nofollow">Buy</a></div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <footer class="section-site-footer">
            <div class="site-footer">
                <div class="container">
                    <div class="footer-menu-wrap">
                        <ul id="menu-footer-menu" class="footer-menu nav navbar-nav navbar-center">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom >
                                <a href="#">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom >
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom>
                                <a href="#">TOS</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom >
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-credit">
                        <p>Bookshop</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" aria-label="Share"></button>
                    <button class="pswp__button pswp__button--fs" aria-label="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" aria-label="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js?ver=1.7.21'></script>
    <script type='text/javascript'
        src='/content/plugins/js_composer/assets/lib/bower/flexslider/jquery.flexslider-min.js?ver=5.7'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_single_product_params = { "i18n_required_rating_text": "Please select a rating", "review_rating_required": "yes", "flexslider": { "rtl": false, "animation": "slide", "smoothHeight": true, "directionNav": false, "controlNav": "thumbnails", "slideshow": false, "animationSpeed": 500, "animationLoop": false, "allowOneSlide": false }, "zoom_enabled": "1", "zoom_options": [], "photoswipe_enabled": "1", "photoswipe_options": { "shareEl": false, "closeOnScroll": false, "history": false, "hideAnimationDuration": 0, "showAnimationDuration": 0 }, "flexslider_enabled": "1" };
    /* ]]> */
    </script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=3.6.4'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.6.4'></script>
    <script type='text/javascript'
        src='/content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.6.4'></script>
    <script type='text/javascript' src='/content/themes/bookie/vendor/bootstrap/js/bootstrap.min.js?ver=3.3.5'></script>
    <script type='text/javascript'
        src='/content/themes/bookie/vendor/smartmenu/jquery.smartmenus.min.js?ver=1.0.0'></script>
    <script type='text/javascript'
        src='/content/themes/bookie/vendor/smartmenu/jquery.smartmenus.bootstrap.min.js?ver=0.2.0'></script>
    <script type='text/javascript' src='/includes/js/comment-reply.min.js?ver=5.2.1'></script>
    <script type='text/javascript' src='/content/themes/bookie/js/script.js?ver=1.4.5'></script>
    <script type='text/javascript' src='/includes/js/embed.min.js?ver=5.2.1'></script>
    <script async="async" type='text/javascript' src='/content/plugins/akismet/_inc/form.js?ver=4.1.2'></script>
    <script>
        var paras = location.search;			//search获得地址中的参数，内容为'?itemId=12'
        var result = paras.match(/[^\?&]*=[^&]*/g); 	//match是字符串中符合的字段一个一个取出来，result中的值为['login=xx','table=admin']
        paras = {};					//让paras变成没有内容的json对象
        for (i in result) {
            var temp = result[i].split('=');	//split()将一个字符串分解成一个数组,两次遍历result中的值分别为['itemId','xx']
            paras[temp[0]] = temp[1];
        }
        var bookid = paras.bookid;     //根据参数名"itemId"，获取参数值

        var data = {
            popularbooks: [
                {
                    bookId: 1, ISBN: '1', password: 'abc', title: '1', author: 'abc', version: '1', price: '12', pudate: 'abc', introdu: '1',
                    picname: 'book-03.jpg', type: '1'
                },
            ],
            book: [
                {
                    bookId: 1, ISBN: '1', password: 'abc', title: '1', author: 'abc', version: '1', price: '12', pudate: 'abc', introdu: '1',
                    picname: 'book-03.jpg', type: '1'
                },
            ],
        };
        new Vue({
            el: '#app',
            data: data,
            mounted: function () {
                this.SelectByBookId(bookid);
                this.getpopularbooks();
            },
            methods: {
                SelectByBookId: function (bookid) {
                    var that = this;
                    $.ajax({
                        type: "get",
                        url: "http://123.56.107.216:9000/book/SelectByBookId",
                        data: { bookid: bookid },
                        dataType: "json",
                        success: function (data) {
                            that.book = [];
                            that.book = {data};

                        }
                    });
                },
                getpopularbooks: function () {
                    var that = this;
                    $.ajax({
                        type: "get",
                        url: "http://123.56.107.216:9000/getpopularbooks",
                        dataType: "json",
                        success: function (data) {
                            that.popularbooks = [];
                            for (let index in data) {
                                that.popularbooks.push(data[index]);
                            }
                        }
                    });
                },
                addbooktocart: function (bookid) {
                    var that = this;
                    $.ajax({
                        type: "get",
                        xhrFields: {
                            withCredentials: true
                        },
                        url: "http://123.56.107.216:9000/order/AddToOrderbyOne",
                        dataType: "json",
                        data: { bookid: bookid },
                        success: function (data) {
                             alert(data.data);
                            
                        },
                    });
                },
                addbookstocart: function () {
                    var that = this;
                    $.ajax({
                        type: "get",
                        xhrFields: {
                            withCredentials: true
                        },
                        data: $('#cartform').serialize(),
                        url: "http://123.56.107.216:9000/order/AddToOrder",
                        dataType: "json",
                        success: function (data) {
                             alert(data.data);
                            
                        },
                    });
                },
                
            }
        });
    </script>
	<script>
        new Vue({
            el: '#head',
            data: data,
            methods: {
                userlogout: function () {
                    var that = this;
                    $.ajax({
                        type: "post",
                        url: "http://123.56.107.216:9000/user/logout",
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (data) {
                            alert(data.data);
                        }
                    });
                },
                adminlogout: function () {
                    var that = this;
                    $.ajax({
                        type: "post",
                        //crossDomain: true,
                        xhrFields: {
                            withCredentials: true
                        },
                        url: "http://123.56.107.216:9000/admin/logout",
                        dataType: "json",
                        success: function (data) {
                                alert(data.data);
                                
                        },
                    });
                },
            }
        });
    </script>
</body>
</html>